.priority-help {
    background-color: #f3f3f3;
    padding: 0.75rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
}

.priority-help ul {
    margin-left: 1rem;
}

.priority-help li {
    margin-bottom: 0.25rem;
}

lightning-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}